@font-face {
    font-family: 'Joystix Mono';
    src: url('../fonts/joystix_monospace.ttf');
}

body {
    background-color: #111;
    color: #fff;
    font-family: 'Joystix Mono', 'Monaco', 'Fira Mono', monospace;
    line-height: 15px;
}

.center-text {
    width: 100%;
    text-align: center;
}

canvas {
    border: 3px solid #777;
}

.side-table {
    padding-left: 30px;
}

.section {
    margin-bottom: 30px;
}

.data {
    color: #0f0;
}

.side-table td {
    padding-right: 20px;
}

.bottom-line td {
    border-bottom: 1px solid #fff;
}

.bold {
    font-weight: bold;
}